body {
  background-color: #EAF6F9;
  margin: 0;

}

hr{
  border-color: grey;
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  width: 5%;
  filter: opacity(30%);
}
h1{
  color: black;
}
h3{
  color: skyblue;
}

.intro{
   background-image: url("https://images.unsplash.com/photo-1618005198919-d3d4b5a92ead?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80");
   top: 0;

}

p{
  color: white;
}

.link .btn1{
  display: inline-block;
  background: linear-gradient(45deg,#87adfe,#ff77cd);
  border-radius: 6px;
  padding: 10px 20px;
  text-decoration: none;
  color: #fff;
  box-shadow: 3px 8px 22px rgba(94, 28, 68, 0.15);

}

.link .btn2{
  display: inline-block;
  background: linear-gradient(45deg,#87adfe,#ff77cd);
  border-radius: 6px;
  padding: 10px 20px;
  text-decoration: none;
  color: #fff;
  box-shadow: 3px 8px 22px rgba(94, 28, 68, 0.15);

}
